@import './_responsive';
@import './_reset';
@import './_common';

// Layout
.main-container {   
    background-color: $primary-color;
    overflow: hidden;
    @include respond-to('mobile') {
        width: 100%;                                     
    }
    @include respond-to('pc') {
        width: $primary-container-width;
        margin: 32px auto;        
        -webkit-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;    
        -webkit-box-shadow: 3px 3px 10px 1px $shadow-color;
        box-shadow: 3px 3px 10px 1px $shadow-color;     
    }
    .common {
        @extend .border-box;                
        @include respond-to('pc') {            
            float: left;
            background-color: $primary-color;
        }        
    }
    header {
        @extend .common;
        height: 100px;   
        @include respond-to('mobile') {            
            width: 100%;            
        }
        @include respond-to('pc') {            
            width: $primary-container-width;
        }
    }    
    footer {
        @extend .common;
        height: 100px;
        @include respond-to('mobile') {
            width: 100%;
        }
        @include respond-to('pc') {
            width: $primary-container-width;
        }
    }    
    section {
        @extend .common;                
        @include respond-to('mobile') {
            width: 100%;
        }
        @include respond-to('pc') {
            width: $main-section-width;
        }
    }    
    menu {            
        @extend .common;        
        @include respond-to('mobile') {
            position: absolute;            
            background-color: RGBA(0, 0, 0, 0.3);
            top: 0px;
            right: 0px;
            width: 100%;
            min-height: 100%;
        }
        @include respond-to('pc') {
            width: $side-menu-width
        }
        div.background {
            background-color: $primary-color;
            @include respond-to('mobile') {                    
                background-color: $primary-color;                
                margin-left: 10%;
                width: 90%;
                height: 100%;
                padding: 24px 0 24px 0;
            }
        }
    }
}

.main-list {
    @extend .border-box;
    margin: 0 0 18px 0;
    @include respond-to('mobile') {        
        padding: 0 16px;
    }
    @include respond-to('pc') {        
        padding: 0 32px;
    }
    h2 {
        @extend .sub-title;
        padding-left: 4px  
    }
    li {
        @extend .border-box;
        display: flex;        
        padding: 18px 0 12px 0;
        border-bottom: 1px solid $border-color;
        .main {
            @extend .border-box;
            padding-left: 4px;
            flex: 1;            
            .title {
                cursor: pointer;
                @include respond-to('mobile') {        
                    display: block;
                    padding-bottom: 4px;
                }                
            }
            .tags {
                span {
                    @extend .tag-item;
                    cursor: pointer;
                    @include respond-to('mobile') {        
                    
                    }
                    @include respond-to('pc') {        
                        
                    }
                }
            }
        }
        .sub {
            padding-right: 4px;
            color: #666;
            font-size: 14px;
        }
    }    
}

.tag-widget {
    @extend .widget;
    ul {
        padding-top: 4px;        
        li {
            padding: 3px 0px;
            span {
                @extend .tag-item;
                cursor: pointer;
            }
        }        
    }        
}

header {
    h1 {    
        @extend .header-font;
        padding: 30px;
        text-align: center;
        font-size: 38px            
    }
}
footer {
    h1 {        
        @extend .header-font;
        padding: 42px;
        text-align: center
    }
}

body {
    background-color: $background-color; 
}

