@import '../index';

div.view {
  width: 100%;
  padding: 0 36px;
  h2 span.title{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 4px;
  }
  h2 span.date {
    padding-top: 8px;
    padding-left: 4px;
    font-size: 12px;
    color: $sub-font-color
  }
  div.tags {    
    padding-top: 8px;    
  }
  div.contents {
    padding-top: 24px;
    padding-left: 4px;
  }
}