@import './index';

// Common
body {
  background-color: $background-color; 
}
._common {
  @include border-box();
  @include respond-to('pc') {            
    float: left;
    background-color: $primary-color;
  }        
}

//App.jsx
#app {   
  background-color: $primary-color;
  overflow: hidden;
  @include respond-to('mobile') {
    width: 100%;                                     
  }
  @include respond-to('pc') {
    @include border-radius(3px);
    @include box-shadow(3px, 3px, 10px, 1px, $shadow-color);
    width: $primary-container-width;
    margin: 32px auto;      
  }  
  header {
    @extend ._common;
    height: 100px;   
    @include respond-to('mobile') {            
      width: 100%;
    }
    @include respond-to('pc') {            
      width: $primary-container-width;
    }
    h1 {    
      @extend .header-font;
      text-align: center;
      padding: 30px;
      font-size: 38px;
      cursor: pointer;
    }
  }    
  footer {
    @extend ._common;
    height: 100px;
    @include respond-to('mobile') {
      width: 100%;
    }
    @include respond-to('pc') {
      width: $primary-container-width;
    }
    h1 {        
      @extend .header-font;
      text-align: center;
      padding: 42px
    }
  }    
  section {
    @extend ._common;        
    height: 38px;
    @include respond-to('mobile') {      
      width: 100%;
      padding: 4px 18px;

    }
    @include respond-to('pc') {
      width: $primary-container-width;      
      padding: 4px 36px;
    }    
  }
  main {
    @extend ._common;                
    @include respond-to('mobile') {
      width: 100%;
    }
    @include respond-to('pc') {
      width: $main-section-width;
    }
  }    
  aside {            
    @extend ._common;
    @include respond-to('mobile') {          
      // not to do
    }
    @include respond-to('pc') {
      width: $side-menu-width
    }        
  }
}