$primary-color: #fafafa;
$background-color: #ccc;
$shadow-color: #aaa;
$tag-color: #77ee55;
$border-color: #aaa;
$sub-border-color: #999;
$font-color: #333;
$sub-font-color: #666;

$border: 1px solid #ccc;

$main-section-width: 800px;
$side-menu-width: 256px;

$primary-container-width: $main-section-width + $side-menu-width;
